@font-face {
    font-family: 'JetBrainsMono';
    src:  url('JetBrainsMono-Light.woff2') format('woff2'),
          url('JetBrainsMono-Light.ttf') format('truetype');
  }

body {
    font-size: 14px;
    line-height: 1.3em;
    font-family: 'JetBrainsMono', monospace, sans-serif;
    background-color: #231f20;
    margin: 0 auto;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 5fr 1fr 4fr;
    grid-template-areas: 
    ". .        . "
    ". monogram ."
    ". email    . "
    ". .        . ";
}

#monogram {
    display: grid;
    grid-area: monogram;    
    /* background-color: blue; */
}

#email {
    display: grid;
    grid-area: email;
    padding: 2em;
    justify-content: space-evenly;
    font-size: calc(.5vw + .5vh + 1vmin);
}

a {
    color:#ffffff;
    text-decoration: none;
}

a:visited {
    color:#ffffff;
    text-decoration: none;
  }

a:hover {   
    text-decoration: underline;
    cursor: pointer; 
    }